*{
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(300, 7%, 3%);
    color: #002129;
    font-family: "Kumbh Sans";
}

/*Header section*/
header {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.headerContent {
    display: block;
    background-color: #4E4187;
}

header h1 {
    padding: 20px;
    color: #C9B9CB;
}

header form {
    width: 100%;
    padding-bottom: 10px;
    color: #002129;
}

header form input{
    width: 60%;
    border-style: none;
    border: solid #000000 1px;
    padding: 2px;
    border-radius: 3px;
    background-color: #C9B9CB;
}

header form button {
    border-style: none;
    padding: 2px;
    border-radius: 3px;
    background-color: #C9B9CB;
}

.upper-wrap {
    padding-top: 2px;
}

/*Stats/Account Section*/

.account-spread {
    background-color: #4E4187;
    margin: 10px; 
}

.profile {
    text-align: center;
    padding: 10px;
    margin: 15px;
    background-color: #C9B9CB;
}

.profile img {
    max-width: 60%;
    margin: 0 auto;
    display: block;
}

.profile h2 {
    font-weight: 400;
    padding: 10px 0;
}

.pfp {
    border-radius: 50px;
}

/*General Stats Section*/

.stats {
    text-align: center;
    padding: 10px;
    margin: 15px;
    background-color: #C9B9CB;
}

.stats h1 {
    font-weight: 700;
}

.stats table {
    width: 100%;
}

/*Graph Section*/

.graph-contain {
    background-color: #C9B9CB;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

 #match {
    width: 90%;
    height: 200px;
    border: solid #002129 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: block;
 }

 .graph-buttons {
     margin-top: 5px;
     width: 100%;
 }

 .graph-buttons button {
    border: solid 1px #002129;
    padding: 3  px;
    border-radius: 3px;
    background-color: #C9B9CB;
    font-family: "Kumbh Sans";
 }

/*Top Champs Section*/

.top-champs {
    padding: 10px;
    margin: 15px;
    background-color: #C9B9CB;
}

.top-champs h1 {
    text-align: center;
}

.top-champs ol {
    list-style: none;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.top-champs li {
    max-width: 30%;
    text-align: center;
    background-color: #8777a5;
    padding: 10px;
    border-radius: 3px;
}

/*Recent Matches Section*/

.recent-matches {
    padding: 10px;
    margin: 15px;
    background-color: #C9B9CB;
}

.recent-matches ul{
    list-style: none;
}

.match-holder li {
    display: flex;
    background-color: #8777a5;
    border-radius: 3px;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px 0;
}

.match h5 {
text-decoration: underline;
}

